{% extends 'base.html' %}

{% block content %}
<h3> Таблица {{tablename}} </h3>
<br>
{% if tablename=='Climbing'%}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">mountain_id</th>
        <th scope="col">group_id</th>
        <th scope="col">start</th>
        <th scope="col">end</th>
      </tr>
    </thead>
    <tbody>
        {%for f in fetched%}
            <tr>
                <th scope="row">{{f.id}}</th>
                <td>{{f.mountain_id}}</td>
                <td>{{f.group_id}}</td>
                <td>{{f.start}}</td>
                <td>{{f.end}}</td>
            </tr>
        {% endfor %}
    </tbody>
    
  </table>
  <a type="button" id="task1" class="btn btn-primary d-inline">Задание 1</a>
  <div id="task1table"> 
      
  </div>

{% elif tablename=='Group'%}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
      </tr>
    </thead>
    <tbody>
        {%for f in fetched%}
            <tr>
                <th scope="row">{{f.id}}</th>
                <td>{{f.name}}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

{% elif tablename=='Human'%}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">first_name</th>
        <th scope="col">last_name</th>
        <th scope="col">address_id</th>
      </tr>
    </thead>
    <tbody>
        {%for f in fetched%}
            <tr>
                <th scope="row">{{f.id}}</th>
                <td>{{f.first_name}}</td>
                <td>{{f.last_name}}</td>
                <td>{{f.address_id}}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
  <br>
  <br>
  <h3>Укажите диапазон дат(Формат - YYYY:MM:DD):</h3>
  <input type="text" class="form-control" placeholder="start YYYY-MM-DD" id="task41"> 
  <input type="text" class="form-control" placeholder="end YYYY-MM-DD" id="task42">
  <br>
  <a type="button" id="task4" class="btn btn-primary d-inline">Задание 4</a>

  <div id="task4table"> 
  </div>
{% elif tablename=='Address'%}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">region_id</th>
        <th scope="col">street</th>
        <th scope="col">building</th>
        <th scope="col">zip</th>
      </tr>
    </thead>
    <tbody>
        {%for f in fetched%}
            <tr>
                <th scope="row">{{f.id}}</th>
                <td>{{f.region_id}}</td>
                <td>{{f.street}}</td>
                <td>{{f.building}}</td>
                <td>{{f.zip}}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

{% elif tablename=='Human in Group'%}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">group_id</th>
        <th scope="col">human_id</th>
      </tr>
    </thead>
    <tbody>
        {%for f in fetched%}
            <tr>
                <td>{{f.group_id}}</td>
                <td>{{f.human_id}}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

{% elif tablename=='Mountain'%}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">height</th>
            <th scope="col">region_id</th>
        </tr>
        </thead>
        <tbody>
            {%for f in fetched%}
                <tr>
                    <td>{{f.id}}</td>
                    <td>{{f.name}}</td>
                    <td>{{f.height}}</td>
                    <td>{{f.region_id}} <button type="button" class="btn btn-primary button-edit" data-mtn="{{f.id}}" data-toggle="modal" data-target="#modal">
                        edit
                    </button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <h4>Добавить вершину</h4>
    <form name="form">
    <div class="form-group">
        <label for="exampleFormControlInput1">Название горы</label>
        <input type="email" class="form-control" id="task2name" placeholder="Everest">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Высота</label>
        <input type="email" class="form-control" id="task2height" placeholder="10,000">
    </div>
    <div class="form-group">
        <label for="task2selector">Регион</label>
        <select class="form-control" id="task2selector">

        </select>
    </div>

    </form>
    <br>
    <a type="button" id="task2" class="btn btn-primary d-inline">Задание 2</a>
{% elif tablename=='Country'%}
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
    </tr>
    </thead>
    <tbody>
        {%for f in fetched%}
            <tr>
                <td>{{f.id}}</td>
                <td>{{f.name}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% elif tablename=='Region'%}
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">id</th>
        <th scope="col">country_id</th>
        <th scope="col">name</th>
    </tr>
    </thead>
    <tbody>
        {%for f in fetched%}
            <tr>
                <td>{{f.id}}</td>
                <td>{{f.country_id}}</td>
                <td>{{f.name}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif%}

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Редактировать гору</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form name="form1">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Название горы</label>
                    <input type="email" class="form-control" id="task3name" placeholder="Everest">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Высота</label>
                    <input type="email" class="form-control" id="task3height" placeholder="10,000">
                </div>
                <div class="form-group">
                    <label for="task3selector">Регион</label>
                    <select class="form-control" id="task3selector">
            
                    </select>
                </div>
            
                </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="send-edit">Save changes</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}